.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1016px;
  margin: 0 auto;
}

.mobile {
  max-width: 375px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
