.header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.icon {
  font-size: 12.8px;
  color: var(--color-text-primary);
}

.title {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  color: var(--color-text-primary);
  margin: 0;
}

